[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
matplotlib = "*"
suvec = {path = "./skady-user-vectorizer/dist/suvec-0.0.0-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.8"
